build/
dist/
Spark Reader.jar
Spark Reader Heavy.jar
forAnki.csv
dictionaries/kanji.txt
lib/
out/
screenshots/
savedLines.csv
nbproject/private/
~$manual.docx
/dictionaries/Kenkyusha_Waei_Daijiten_V5/
/.idea/workspace.xml
/preferences/
/dictionaries/vnCharacters/
